/* Global Styles */



html {
    scroll-behavior: smooth;
}

body {
	opacity: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    background: rgba(20,55,75,0.5);
    color: color: #FFFFFF;
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
}

a {
    text-decoration: none;
    color: color: #FFFFFF;
}

h1 {
    font-size: 2.5rem;
}

.container {
	opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
}

.login-container {
    position: absolute;
    width: 25.2rem;
}
.form-container {
	opacity: 90%;
	background: rgba(20,55,15,0.1);
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(50px);
    z-index: 90;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-container form input {
    display: block;
    padding: 14.5px;
    width: 90%;
    margin: 1.5rem 0;
    color: color: "#FFFFFF";
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
	
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
	
}
.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.illustration {
    position: absolute;
    top: 7%;
    right: 10px;
    width: 60%;
}
.illustration2 {
    position: absolute;
    top: 5%;
    right: -15px;
    width: 60%;
}
.register-forget {
    margin: -2rem 0 ;
    display: flex;
    justify-content: space-between;
}
#register-forgetbutton {
    background-color: rgba(20,55,75,0.2);
    display: block;
	padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    width: 90%;
    margin-bottom: 2rem;
	margin-right: 2rem;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
#register-forgetbutton:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
#registerbutton {
    display: block;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
	 text-decoration: underline;
}
#registerbutton:hover {
  color: blue;
}
.opacity {
    opacity: 0.6;
}


tr {
  background-color: #eee;
  text-align: center;
  font-size: 20px;
}

th {
  background-color: #505050;
  color: #ffffff;
  font-size: 30px;
}
table{
   font: 50 px "Lucida Grande";
   position: relative;
   top: 25%;
}

 

p{

    margin: 10px 0px 10px 0px; 
	text-align: justify;
}

 

#header{

    height: 55px; 
    background: rgba(20,55,15,0.3);
	clear: both;
	margin-top:-2%;
	margin-bottom:2%;

}

 

#header h3{

    color: #FFFFF3; /* Set header heading(top left title ) color */

    padding: 10px; /* Set padding, to center it within the header */

    font-weight: normal; /* Set font weight to normal, default it was set to bold */

}
#header input {
	
	 color: #464646; /* Set header heading(top left title ) color */

    font-weight: normal;
	border: 2px solid #DFDFDF;
	
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	
}
#header form {
	
	margin-top: 0px; 
	padding: 0px 0px;
	margin-bottom: 0px;
	
}


#wrap{

    background: #FFFFFF; /* Set content background to white */

    width: 615px; /* Set the width of our content area */

    margin: 0 auto; /* Center our content in our browser */

    margin-top: 50px; /* Margin top to make some space between the header and the content */

    padding: 10px; /* Padding to make some more space for our text */

    border: 1px solid #DFDFDF; /* Small border for the finishing touch */
	text-align: center;
	
}
#wrap2{

   
    background: #FFFFFF; /* Set content background to white */

    width: 615px; /* Set the width of our content area */

    margin: 0 auto; /* Center our content in our browser */

    margin-top: 50px; /* Margin top to make some space between the header and the content */

    padding: 10px; /* Padding to make some more space for our text */

    border: 1px solid #DFDFDF; /* Small border for the finishing touch */

    text-align: center; /* Center our content text */
}

 

#btn{
background: #F9F9F9;
	border: 2px solid #DFDFDF; 
	margin-top: 5px;
	padding: 5px;
}


input{

    font: normal 16px Georgia; /* Set font for our input fields */

    border: 1px solid #DFDFDF; /* Small border around our input field */

    padding: 8px; /* Add some more space around our text */
	
	

}
#dogPic{
 width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("apple.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  display: block;
  margin-left: -30px;
  margin-top: -30px;
font-size: 40px;
padding-top:25px;
color: white; /* Set global text color */
text-align: center;
user-select: none;
}
#badPic{
    width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("apple.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  display: block;
  margin-left: -30px;
  margin-top: -30px;
font-size: 40px;
padding-top:25px;
color: white; /* Set global text color */
text-align: center;
user-select: none;
}
#badPic2{
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("apple.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  display: block;
  margin-left: -30px;
  margin-top: -30px;
font-size: 40px;
padding-top:25px;
color: white; /* Set global text color */
text-align: center;
user-select: none;
}
#instruct{
	text-align: center;
}


strong {
    display: inline-block;
    width: 20px;
    border: 1px solid #000;
    text-align: center;
	
	user-select: none;
}

#box {
  width: 120px;
   height: 130px;
  position: absolute;
  top: calc(52vh + 50px);
  left: calc(40vw + 39px);
    border: none;
	color: transparent;
	user-select: none;
}
#monster{
	display:block;
  width: 200px;
   height: 250px;
  position: absolute;
  top: 50vh; 
  left: 40vw;
  background-image: url("logo.png");
  background-size: 200px 180px;
  background-position-y: 35px;
  background-repeat: no-repeat, repeat;
  border: none;
  font-size: 30px;
  user-select: none;
}
#statusmsg{

    font-size: 12px; /* Set message font size */

    padding: 3px; /* Some padding to make some more space for our text */

    background: #EDEDED; /* Add a background color to our status message */

    border: 1px solid #DFDFDF; /* Add a border arround our status message */

}
#cosship{
  width: 60px;
  height: 100px;
  position: absolute;
  margin-top: -100px;
  left: 50px;
  display: block;
user-select: none;
background-image: url("rocket.png");
background-size: 60px 100px;
  background-repeat: no-repeat, repeat;
}
#asteroid{
  width: 50px;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
user-select: none;
background-image: url("asteroid.png");
background-size: 50px 80px;
  background-repeat: no-repeat, repeat;
}
#asteroid2{
  width: 50px;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
user-select: none;
background-image: url("asteroid.png");
background-size: 50px 80px;
  background-repeat: no-repeat, repeat;
}
#asteroid3{
    width: 50px;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
user-select: none;
background-image: url("asteroid.png");
background-size: 50px 80px;
  background-repeat: no-repeat, repeat;
}
#bullet{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
user-select: none;
background-image: url("bullet.png");
background-size: 20px 20px;
  background-repeat: no-repeat, repeat;
}

#bullet {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:1s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}
#wordbox {
 border: 5px solid white;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 15%; left: 96%;
  font-size: 30px;
color: white;
   writing-mode: vertical-lr;
  text-orientation: upright;
  border-radius: 15px;
}
#console2{
	display:block;
	margin-left: 95vw;
		height: 86.5vh;
	width: 5vw;
  background-repeat: no-repeat, repeat;
   background-image: url("console.jpg");
}
#mytext{
	 width: 50px;
	 text-align: center;
  align-content: center;
   background: rgba(0,0,0,0);
   color: white;
  position: absolute;
  top: 86vh; left:3vw;
  font-size: 30px;
  border: solid white;
   border-radius: 10px;
}
#mytext:focus {
    outline: 3px solid white;
}
#wordbox2 {
	color: white;
 border: 5px solid white;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 15%; left: 1%;
  font-size: 30px;
    border-radius: 15px;
   writing-mode: vertical-lr;
  text-orientation: upright;
}
#wordbox3 {
	color: white;
 border: 5px solid white;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 15%; left: 5%;
  font-size: 30px;
border-radius: 15px;
   writing-mode: vertical-lr;
  text-orientation: upright;
}
#wordbox4 {
	color: white;
 border: 5px solid white;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 15%; left: 9%;
  font-size: 30px;
   writing-mode: vertical-lr;
  text-orientation: upright;
  border-radius: 15px;
}


#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  padding: 14px 20px 12px 25px;
 border-radius: 5px;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}



.dropdown-content {
 user-select: none;
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 130px;
  overflow: auto;
  z-index: 1;
  color: #464646;
  padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropdown-content a {
  color: #464646;
  padding: 5px;
  display: block;
  padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropdown a:hover {background-color: grey;}

.show {display: block;}

#forchecking{
	display: none;
}
#forcheckingb{
	display: none;
}
#wordamount{
	display: block; 
}
#logoutbutton{
	display: none;
}
#passwordbutton{
	display: none;
}
#deletebutton{
	display: none;
}
.dropbtna{
	min-width: 155px;
	border: 2px solid #DFDFDF; 
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	color: #464646;
    display: block;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    margin-bottom: 5px;
	margin-right: 2rem;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropbtna:hover, .dropbtna:focus {
  
}
.input a{
	
}

.dropdowna {
  position: relative;
  display: inline-block;
   padding: 2px 2px 2px 2px;
    user-select: none;
    display: block;
	padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropdown-contenta {
user-select: none;
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 130px;
  overflow: auto;
  z-index: 1;
  color: #464646;
  padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropdown-contenta a {
  color: #464646;
  padding: 5px;
  display: block;
  padding: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.dropdowna a:hover {background-color: grey;}

.showa {display: block;}
#pasmyg{
 border:none; 
 background: white;
 text-decoration: underline;
}
#pasmyg:hover {
  color: blue;
}

#cosmos{
background-image: url("cosmos.jpg");
background-size: 100vw 100vh;
  background-repeat: no-repeat, repeat;
}
#console{
	height: 86.5vh;
	width: 13vw;
background-image:	url("console.jpg");
background-size: 100vw 100vh;
  background-repeat: no-repeat, repeat;
}